@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Poppins&display=swap');

body {
  background-color: white;
}

#toolbar {
  display: flex;
  position: fixed;
  height: 35px;
  width: 327px;
  padding: 10px;
  background-color: white;
}

#content {
  margin-top: 35px;
}

#logo {
  color: #6070ff;
  margin-right: 125px;
  font-size: large;
  font-weight: bold;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
}

#headline {
  display: flex;
  flex-direction: column;
  height: 740px;
  width: 320px;
  background-image: url("assets/images/mobile.png");
  padding: 10px;
  padding-top: 114px;
  background-repeat: no-repeat;
  background-position-x: center;
}

#greet {
  height: 150px;
  width: 327px;
}

h1 {
  font-family: 'poppins', sans-serif;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

#head_div {
  display: flex;
  width: 920px;
  height: 98px;
  text-align: center;
  margin-top: 10px;
}

p {
  color: #172b4d;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#connect {
  color: #7f8cff;
  margin-top: 10px;
}

#icons {
  height: 20px;
  width: 170.17px;
}

#menu {
  justify-items: end;
  height: 12px;
  width: 18px;
  margin-top: 10px;
  margin-left: 155px;
}

#section1 {
  display: grid;
  align-items: center;
  width: 327px;
  height: 596px;
  padding: 16px;
  gap: 12px;
  border: #dfe1e6;
  background-color: white;
  border-width: 10px;
  border-radius: 16px;
}

.section_2 {
  display: grid;
  align-items: center;
  width: 327px;
  height: 596px;
  padding: 16px;
  gap: 12px;
  border: #dfe1e6;
  background-color: white;
  border-width: 10px;
  border-radius: 16px;
  margin-top: 50px;
}

#snap {
  height: 220px;
  width: 295px;
  margin-top: 16px;
  margin-left: 16px;
}

#snap2 {
  height: 220px;
  width: 295px;
  margin-top: 16px;
  margin-left: 16px;
}

#tonic {
  height: 80px;
  width: 295px;
}

#stories {
  height: 124px;
  width: 295px;
  gap:  12px;
}

#tags {
  height: 24px;
  width: 203px;
}

#select {
  height: 76px;
  width: 295px;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#btn1 {
  height: 48px;
  width: 124px;
  border-color: #6070ff;
  border-radius: 8px;
  padding: 12px;
  border-width: 1px;
  gap: 10px;
  color: #6070ff;
}

#btn2 {
  height: 48px;
  width: 162px;
  border-color: #6070ff;
  border-radius: 8px;
  padding: 12px;
  border-width: 1px;
  gap: 10px;
  color: #6070ff;
  margin-top: 20px;
}

#about-me {
  display: flex;
  flex-direction: column;
  height: 1050px;
  width: 375px;
  padding: 10px;
  padding-top: 114px;
}

#lang {
  font-family: 'poppins', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 500;
  height: 24px;
  width: 237px;
  line-height: 24px;
  margin-top: 65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contact {
  background-color: #6070ff;
  height: 779px;
  width: 327px;
}