@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Poppins&display=swap');

html {
  width: 347px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  background-color: white;
  width: 347px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
}

#toolbar {
  display: flex;
  gap:calc(85%);
  position: fixed;
  height: 35px;
  width: 327px;
  /* margin-top: -35px; */
  padding: 10px;
  background-color: #6070ff;
  z-index: 10;
}

#a_logo {
  color: white;
}

#logo {
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 740px;
  width: 320px;
  margin-top: 55px;
  background-image: url("assets/images/mobile.png");
  padding: 10px;
  padding-top: 114px;
  background-repeat: no-repeat;
  background-position-x: center;
}

#greet {
  height: 150px;
  width: 327px;
}

h1 {
  font-family: 'poppins', sans-serif;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

p {
  color: #172b4d;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#connect {
  color: #7f8cff;
  margin-top: 10px;
}

#connects {
  color: #7f8cff;
  margin-top: 10px;
}

#icons {
  height: 20px;
  width: 170.17px;
}

#sm_icons {
  height: 20px;
  width: 170.17px;
}

.menu {
  height: 12px;
  width: 18px;
  justify-content: end;
  align-items: flex-end;
  margin-top: 10px;
}

.menu_opt {
  display: flex;
  flex-direction: column;
  /* display: none; */
  padding: 62px 38px 0 20px;
  background-color: rgba(96, 112, 255, 0.8);
  z-index: 11;
  width: 327px;
  height: 100vh;
  padding: 10px;
}

.menu_opt a {
  color: #fff;
  text-decoration: none;
}

.menu_items {
  margin-bottom: 35px;
  padding: 10px;
}

.close_menu {
  background-color: rgba(96, 112, 255, 0.8);
  border: none;
  color: #fff; 
  margin-left: 300px;
  width: 30px;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

#section1 {
  display: grid;
  align-items: center;
  width: 327px;
  height: 596px;
  padding: 16px;
  gap: 12px;
  border: #dfe1e6;
  background-color: white;
  border-width: 10px;
  border-radius: 16px;
}

.section_2 {
  display: grid;
  align-items: center;
  width: 327px;
  height: 596px;
  padding: 16px;
  gap: 12px;
  border: #dfe1e6;
  background-color: white;
  border-width: 10px;
  border-radius: 16px;
  margin-top: 50px;
}

#snap {
  height: 220px;
  width: 295px;
  margin-top: 16px;
  margin-left: 16px;
}

.snap2 {
  height: 220px;
  width: 295px;
  margin-top: 16px;
  margin-left: 16px;
}

#tonic {
  height: 80px;
  width: 295px;
}

.stories {
  height: 124px;
  width: 295px;
  gap: 12px;
}

.tags {
  height: 24px;
  width: 203px;
}

.select {
  height: 76px;
  width: 295px;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.btn1 {
  height: 48px;
  width: 124px;
  border-color: #6070ff;
  border-radius: 8px;
  padding: 12px;
  border-width: 1px;
  gap: 10px;
  color: #6070ff;
}

.btn1:hover {
  height: 48px;
  width: 124px;
  background-color: #6070ff;
  border-radius: 8px;
  padding: 12px;
  border-width: 1px;
  gap: 10px;
  color: white;
}

.btn1:active {
  height: 48px;
  width: 124px;
  background-color: #2230d2;
  border-radius: 8px;
  padding: 12px;
  border-width: 1px;
  gap: 10px;
  color: white;
}

#btn2 {
  height: 48px;
  width: 162px;
  border-color: #5e6c84;
  border-radius: 8px;
  padding: 12px;
  border-width: 1px;
  gap: 10px;
  color: #5e6c84;
  margin-top: 20px;
}

#about-me {
  display: flex;
  flex-direction: column;
  height: 1050px;
  width: 375px;
  padding: 10px;
  padding-top: 114px;
}

#lang {
  font-family: 'poppins', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 500;
  height: 24px;
  width: 237px;
  line-height: 24px;
  margin-top: 65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

#myself-text {
  width: 327px;
}

#bg {
  width: 327px;
  border-top-left-radius: 60px;
}

#cards {
  display: grid;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  border-top-left-radius: 70px;
  width: 347px;
  height: 779px;
}

.foot-image {
  width: 337px;
  height: 100%;
  background-image: url("assets/images/back_img.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.contactme {
  color: #fff;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: bold 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  padding-top: 45px;
}

.contact-info {
  color: #ebebff;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  padding-left: 35px;
  padding-right: 35px;
}

.contact_input {
  width: 290px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: 'poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 0 16px;
}

.one_line {
  height: 48px;
  color: #172b4d;
}

.message {
  height: 154px;
  padding-top: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
